name: Node CI

on:
  pull_request:
    branches: 
      - master
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@master
    - name: Meowth - Client
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: build client
      run: |
        cd client
        npm run build
      env:
        CI: true
